#root {
}

.marker {
  height: 30px;
  width: 30px;
}

#layer-panel {
  position: fixed;
  width: 150px;
  gap: 10px;
  display: grid;
  top: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  left: 20px;
  height: 200px;
}

.layer-button {
  background-color: gray;
}

.active {
  background-color: black;
}
