name: Run TypeScript with TSX on Main Branch

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14 # You can change this to your preferred Node.js version.

      - name: Install Dependencies
        run: npm install # You should have a package.json with your dependencies.

      - name: Generate JSON Files
        run: npm run gtfs
